<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard Settings
    </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="styles/dashboard.css" rel="stylesheet" />
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/dashboard.js"></script>
</head>

<body ng-app="DashboardApp">
    <nav class="navbar navbar-inverse" ng-controller="NavbarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id="logo" src="icons/gitlab-logo24.png" /> Gitlab Dashboard</a>
            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-click="openSettings()" href="#">
                            <span class="glyphicon glyphicon-cog"></span> Settings</a>
                    </li>
                    <li>
                        <div class="navbar-btn">
                            <button ng-click="openFeedback()" class="btn btn-danger">Feedback</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section ng-controller="VersionControlSystemsController" class="container-fluid" id="dashboard">
        <div class="row">
            <div ng-repeat="branch in visibleBranches()" class="branch ng-class: branch.status();">
                <p class="project-name">{{ branch.project.name }}</p>
                <p class="branch-name">{{ branch.name }}</p>
                <p ng-bind="branch.currentPipeline.getAndUpdate().status" class="pipeline-status"></p>
                <p ng-bind="branch.currentPipeline.getAndUpdate().stage" ng-if="branch.currentPipeline.getAndUpdate().stage" class="pipeline-stage"></p>
                <footer>
                    <p ng-if="branch.openedMergeRequests.listAndUpdate()">
                        <span ng-bind="branch.openedMergeRequests.length()" class="merge-requests"></span>&nbsp;
                        <span>MR OPENED</span>
                    </p>
                </footer>
            </div>
        </div>
    </section>
</body>

</html>