<!DOCTYPE html>
<html>

    <head>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link href="options.css" rel="stylesheet"/>
        <script src="options.js"></script>
    </head>

    <body ng-app="OptionsApp" ng-controller="ProjectsController">
        <section id="dashboard-options" class="options">
            <header>
                <h5>Dashboard Configuration</h5>
            </header>

            <div class="option">
                <label class="label" for="dashboard-refresh-rate">Dashboard Refresh Rate (seconds)</label>
                <input ng-model="dashboard.refreshRateSec" class="input" id="dashboard-refresh-rate" type="number"
                       min="1" required/>
            </div>
        </section>

        <section id="api-options" class="options">
            <header>
                <h5>Api Configuration</h5>
            </header>

            <div class="option">
                <label class="label" for="endpoint">GitLab URL</label>
                <input ng-model="api.api.endpoint" class="input" id="endpoint" type="text"/>
            </div>

            <div class="option">
                <label class="label" for="token">GitLab Private Token</label>
                <input ng-model="api.api.token" class="input" id="token" type="text"/>
            </div>
        </section>

        <section id="project-options" class="options">
            <header>
                <h5>Projects Configuration</h5>
            </header>
            <div ng-if="api.projects.length == 0" class="loading loading-projects"></div>
            <div ng-repeat="project in api.projects" class="option">
                <div class="label">{{ project.name }} (#{{ project.branch }})</div>
                <div>
                    <div class="onoffswitch">
                        <input ng-attr-id="{{ 'switch-' + project.identifier() }}" ng-model="project.visible"
                               type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                        <label class="onoffswitch-label" ng-attr-for="{{ 'switch-' + project.identifier() }}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <button ng-controller="OptionsController" ng-show="canSave()" ng-click="save()" id="save">Save</button>
        <p id="status"></p>
    </body>

</html>