<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard Settings
    </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="styles/settings.css" rel="stylesheet" />
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/bootstrap-select.min.js"></script>
    <script src="scripts/validator.min.js"></script>
    <script src="scripts/settings.js"></script>
</head>

<body ng-app="SettingsApp">
    <section class="container" id="vcs-settings" ng-controller="VersionControlSystemsSettingsController">
        <header>
            <h3>Version Control Systems</h3>
        </header>

        <form class="container" id="new-vcs" name="newVcsForm" style="display: none;" data-toggle="validator">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="name">Name</label>
                    <input ng-model="newVcs.name" class="form-control" id="name" name="name" type="text">
                </div>

                <div class="form-group col-xs-6">
                    <label for="type">Type</label>
                    <select ng-change="clickVcsType()" ng-model="newVcs.type" class="form-control" id="type" name="type">
                        <option ng-repeat="type in types">{{ type }}</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-show="newVcs.type == 'gitlab'">
                <div class="form-group col-xs-6">
                    <label for="endpoint" class="control-label">Endpoint</label>
                    <a ng-click="clickGitlabEndpointInfo()" href="https://docs.gitlab.com/ee/api/README.html#basic-usage">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <input ng-model="newVcs.endpoint" placeholder="https://gitlab.com/api/v4" class="form-control" id="endpoint" name="endpoint"
                        type="text" required pattern="http[s]?://.*/api/v4$" data-error="Invalid endpoint (e.g.: https://gitlab.com/api/v4)."
                    />
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group col-xs-6">
                    <label for="token" class="control-label">Private Token</label>
                    <a ng-click="clickGitlabTokenInfo()" href="https://docs.gitlab.com/ce/user/profile/personal_access_tokens.html#creating-a-personal-access-token">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <input ng-model="newVcs.token" required class="form-control" id="token" name="token" type="text" data-error="Missing token."
                    />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <button ng-click="addVcs()" class="btn btn-primary" id="add">Add</button>
            <button ng-click="cancelAddVcs()" class="btn btn-warning" id="cancel-add">Cancel</button>
        </form>

        <section class="container vcss" id="vcs-list">
            <section ng-repeat="vcs in vcss" class="vcs" id="vcs-{{ $index }}">
                <header>
                    <h4>
                        <span>{{ vcs.name }}</span>
                        <span class="vcs-actions" id="vcs-{{ $index }}-actions">
                            <button ng-click="removeVcs($index)" class="btn btn-default btn-xs" id="remove-vcs-{{ $index }}">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                            <button ng-if="vcs.projects.length() > 0" ng-click="selectVcs($index)" class="btn btn-default btn-xs" id="configure-vcs-{{ $index }}">
                                <span class="glyphicon glyphicon-cog"></span> Configure
                            </button>
                            <button ng-if="vcs.projects.length() == 0" class="btn btn-default btn-xs" id="loading-vcs-{{ $index }}">
                                <span class="glyphicon glyphicon-refresh"></span> Loading
                            </button>
                        </span>
                        <br/>
                        <small ng-if="vcs.type == 'gitlab'">
                            <span>{{ vcs.type }}</span> -
                            <span>{{ vcs.endpoint }}</span>
                        </small>
                    </h4>
                </header>
                <div class="vcs-selected-actions" id="vcs-{{ $index }}-selected-actions" style="display: none;">
                    <button ng-click="showProjects($index)" class="btn btn-default btn-sm" id="configure-projects-vcs-{{ $index }}">
                        <span class="glyphicon glyphicon-cog"></span> Projects
                    </button>
                    <button ng-if="selectedProjects.length > 0" ng-click="showBranches($index)" class="btn btn-default btn-sm" id="configure-branches-vcs-{{ $index }}">
                        <span class="glyphicon glyphicon-cog"></span> Branches
                    </button>
                    <button ng-click="close($index)" class="btn btn-default btn-sm" id="close-vcs-{{ $index }}">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </section>

            <section id="projects" style="display: none;">
                <h5>Projects
                    <br/>
                    <small>Select which projects you want to display in dashboard</small>
                </h5>
                <div class="container">
                    <select ng-model="selectedProjects" ng-options="project.id as project.name for project in selectedVcs.projects.listAndUpdate()"
                        ng-change="updateProjects()" class="show-tick" id="projects-list" data-selected-text-format="count" data-size="5"
                        title="Select projects..." multiple></select>
                </div>
            </section>

            <section id="branches" style="display: none;">
                <h5>Project
                    <br/>
                    <small>Select the project to configure branch</small>
                </h5>
                <div class="container">
                    <select ng-model="selectedProject" ng-options="project as project.name for project in visible(selectedVcs.projects.listAndUpdate())"
                        ng-change="initSelectedBranches()" class="show-tick" id="projects-branches-list" title="Select project..."></select>
                </div>
                <h5>Branches
                    <br/>
                    <small>Select which branches you want to display in dashboard</small>
                </h5>
                <div class="container">
                    <select ng-model="selectedBranches" ng-options="branch.id as branch.name for branch in selectedProject.branches.listAndUpdate()"
                        ng-change="updateBranches()" class="show-tick" id="branches-list" data-selected-text-format="count" data-size="5"
                        title="Select branches..." multiple></select>
                </div>
            </section>
        </section>

        <section class="container-fluid pull-right" id="buttons">
            <button ng-click="showAddVcs()" class="btn btn-default" id="new">New</button>
            <button ng-if="hasChangesToSave" ng-click="saveVcs()" class="btn btn-primary" id="save">Save</button>
        </section>

        <section class="container" id="messages">
            <div class="alert alert-success" style="display: none;">
                <strong>Success!</strong>
                <span></span>
            </div>
            <div class="alert alert-danger" style="display: none;">
                <span></span>
            </div>
        </section>
    </section>
</body>

</html>