@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$background-color: #EDEDE7;
$text-color: #666666;
$success-color: #5D9D5D;
$failed-color: #C1172D;
$pending-color: #FA6900;
$canceled-color: #999999;
$running-color: #BFA100;

body {
    background-color: $background-color;
}

#logo {
    display: inline;
    margin-right: 10px;
}

#dashboard {
    .branch {
        @extend .col-xs-12, .col-sm-6, .col-md-4, .col-lg-3;
        position: relative;
        padding: 10px 0px 10px 40px;
        border: 10px solid $background-color;
        color: $text-color;
        background-color: #FFFFFF;

        a {
            &, &:hover, &:active, &:visited {
                color: $text-color;
                text-decoration: none;
            }
        }

        &:before {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 30px;
            height: 100%;
            font-size: 20px;
            text-align: center;
            color: #FFFFFF;
            font-family: "Glyphicons Halflings";
        }

        &.success {
            .project-name,
            .branch-name {
                color: $success-color;
            }

            &:before {
                content:"\e089";
                background-color: $success-color;
            }
        }

        &.failed {
            .project-name,
            .branch-name {
                color: $failed-color;
            }

            &:before {
                content:"\e088";
                background-color: $failed-color;
            }
        }

        &.pending {
            .project-name,
            .branch-name {
                color: $pending-color;
            }

            &:before {
                content:"\e023";
                background-color: $pending-color;
            }
        }

        &.canceled {
            .project-name,
            .branch-name {
                color: $canceled-color;
            }

            &:before {
                content:"\e090";
                background-color: $canceled-color;
            }
        }

        &.running {
            .project-name,
            .branch-name {
                color: $running-color;
            }

            &:before {
                content:"\e029";
                background-color: $running-color;
            }
        }

        .project-name {
            @extend .h2;
            margin-top: 10px;
        }

        .branch-name {
            @extend .h4;

            &:before {
                content: "#";
                position: relative;
            }
        }

        .pipeline-status {
            display: none;
            letter-spacing: 1px;
        }

        .pipeline-stage {
            // @extend .lead;
        }

        .merge-requests {
            text-transform: uppercase;

            .total {
                @extend .h3;
                font-weight: bold;
            }
        }
    }
}
