@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

#logo {
    display: inline;
    margin-right: 10px;
}

#dashboard {
    .branch {
        @extend .col-xs-12, .col-sm-6, .col-md-4, .col-lg-3;
        border: 10px solid #FFFFFF;
        padding: 10px;
        background-color: #666666;
        color: #F3F3F3;

        a {
            &, &:hover, &:active, &:visited {
                color: #F3F3F3;
                text-decoration: none;
            }
        }

        &.success {
            background-color: #5D9D5D;
        }

        &.failed {
            background-color: #C1172D;
        }

        &.pending {
            background-color: #FA6900;
        }

        .project-name {
            @extend .h4, .text-center;
        }

        .branch-name {
            @extend .h4, .text-center;
            &:before {
                content: "#";
                position: relative;
            }
        }

        .pipeline-status {
            @extend .h2, .text-center;
            letter-spacing: 1px;
        }

        .pipeline-stage {
            @extend .h4, .text-center;
        }

        footer {
            margin-top: 20px;
            padding: 5px;
            width: 100%;
            text-transform: uppercase;
            border-top: 1px #CCC solid;
        }
    }
}
