* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 16px;
    background-color: #F3F3F3;
}

header {
    padding: 10px;
    background-color: #333;
}

header img {
    margin: 5px;
}

#dashboard {}

#dashboard .project a,
#dashboard .project a:hover,
#dashboard .project a:active,
#dashboard .project a:visited {
    color: #F3F3F3;
    text-decoration: none;
}

#dashboard .project {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 20px 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
    background-color: #666666;
    color: #F3F3F3;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

#dashboard .project.success {
    background-color: #5D9D5D;
}

#dashboard .project.failed {
    background-color: #C1172D;
}

#dashboard .project.pending {
    background-color: #FA6900;
}

#dashboard .project .name {
    font-size: 12px;
    text-align: center;
    margin: 20px 20px 0px 20px;
    opacity: 0.8;
}

#dashboard .project .pipeline-status {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px 20px;
}

#dashboard .project .pipeline-scope {
    font-size: 14px;
    margin-right: 10px;
}

#dashboard .project .pipeline-branch {
    font-size: 14px;
    margin-left: 10px;
}

#dashboard .project .pipeline-branch:before {
    content: "#";
    position: relative;
}

#dashboard .project footer {
    width: 170px;
    height: 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    border-top: 1px #CCC solid;
    padding: 5px;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.loading {
    animation: spin 2s linear infinite;
}

.loading.loading-project {
    border: 16px solid #F3F3F3;
    border-top: 16px solid #FA6900;
    border-radius: 50%;
    margin: 10px auto;
    width: 40px;
    height: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}